.content{
  max-width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 5% 7%;
  border-radius: 10px;
}

.mat-table{
  width: 90%;
  margin: 20px;
}

.big-container{
  display: flex;
}

button{
  background-color: #000;
  color: #fff;
}

button:hover{
  background-color: #fff;
  color: rgb(149, 213, 255);
}

.error{
  color: red;
}
