.content{
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  padding: 2% 5%;
}

button{
  background-color: #000;
  color: #fff;
}

button:hover{
  background-color: #fff;
  color: rgb(149, 213, 255);
}

.error{
  color: red;
}
